.products .product {
    position: relative;
    float: left;
    width: 225px;
    max-width: 225px;
    margin: 8px;
}

.products .product .image img {
    width: 225px;
    max-height: 420px;
}

.products .product .details a {
    display: block;
    font-style: italic;
    text-align: left;
    color: #000;
    border-bottom: 3px solid #f1f1f1;
    padding: 10px 2px 5px;
    margin-bottom: 10px;
}

.products .product .details .price {
    margin-left: 5px;
    color: #8e8e8e;
    font-weight: 400;
}